$violet-8: #090B1F;
$violet-7: #171D45;
$violet-6: #2A356C;
$violet-5: #424D78;
$violet-4: #5E6785;
$violet-3: #7E8391;
$violet-2: #E1E3EB;
$violet-1: #E9EBF0;
$violet-0: #F9FAFD;

$gray-9: #333333;
$gray-8: #404040;
$gray-7: #666666;
$gray-6: #8C8C8C;
$gray-5: #B3B3B3;
$gray-4: #D9D9D9;
$gray-3: #E6E6E6;
$gray-2: #F2F2F2;
$gray-1: #FAFAFA;

$yellow-7: #B38136;
$yellow-5: #FFCC66;
$yellow-3: #FFECB8;
$yellow-2: #FFF8E0;
$yellow-1: #FFFCF3;

$magenta-8: #610231;
$magenta-7: #870944;
$magenta-6: #AD1457;
$magenta-5: #BA346A;
$magenta-4: #C75880;
$magenta-3: #D47F9B;
$magenta-2: #E0ABBB;
$magenta-1: #EDDADF;
$magenta-9: #F8F1F3;

$blue-2: #d7f8fc;
$blue-5: #4fb9d6;
$blue-7: #1a7ca3;

$green-1: #e7eeef;
$green-6: #27677c;
