@import 'colors';


$font-size-xsmall: 75%; // 12px
$font-size-small: 87.5%; // 14px
$font-size-base: 100%; // 16px
$font-size-large: 112.5%; //18px
$font-size-xlarge: 125%; // 20px
$line-height: 1.4;
$space: .25rem;

$color-base: $gray-9;
$color-base-light: $gray-7;
$color-base-background: $violet-2;

$color-link-base: #4d77cc !default;

$color-text-error: $magenta-7;
$color-text-attention: $yellow-7;
$color-text-message: rgb(60, 118, 61);
$color-text-info: $blue-7;

$transition-base: all 0.2s ease-out 0s;
$transition-slow: all 0.4s ease-out 0s;

$border-radius: 4px;
$border-color: $violet-2;

$color-button: $color-base;
$color-button-background: $violet-2;
$color-button-background-red: $magenta-4;
$color-button-red: #ffffff;
$color-button-background-blue: $blue-5;
$color-button-blue: #ffffff;
$color-button-background-green: $green-6;
$color-button-green: #ffffff;
$color-button-background-yellow: $yellow-5;
$color-button-yellow: $yellow-7;

$color-input: $gray-6;
$color-input-focus: $color-base;
$color-input-disabled: $gray-6;
$color-input-border: $border-color;
$color-input-background: #ffffff;
$color-addon-background: $gray-2;
$color-input-required-border: $magenta-6;
$color-input-error: $magenta-6;
$color-input-error-border: $magenta-6;


$phone-width: 415px; // Apple iPhone 6+, 6s+, 7+, 8+ // 375px;
$bigphone-width: 600px; //
$ipad-width: 800px; // Samsung Galaxy Tab
$desktop-width: 1024px;


@mixin media($media) {
    @if $media == phone {
        @media only screen and (max-width: $phone-width) {
            @content;
        }
    }
    @if $media == bigPhone {
        @media only screen and (max-width: $bigphone-width) {
            @content;
        }
    }
    @else if $media == ipad {
        @media only screen and (max-width: $ipad-width) {
            @content;
        }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $desktop-width) {
            @content;
        }
    }
}

@import "margin";
@import "padding";
